.question {
  height: fit-content;
  min-height: 46px;
  background: #202020;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;

  .question__name {
    color: #fff;
    font-size: 18px;
  }
}
