button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  padding: 0;

  &.login__button {
    height: 50px;
    width: 80%;
    margin-top: 40px;
    border-radius: 20px;
    background: linear-gradient(138.01deg, #f3b33c -1.58%, #f2345d 104.27%);
    box-shadow: 6px 6px 4px 0px #ffffff1a inset;
    transition: 0.2s;

    p {
      margin-left: 10px;
      font-size: 15px;
      letter-spacing: 1px;
      font-family: "SFdisplay";
      font-weight: 300;
    }
    img {
      margin-right: 10px;
    }
    &:active {
      scale: 1.05;
    }
  }

  &.contact__button {
    width: 56px;
    height: 34px;
    max-height: 48px;
    padding: 8px 18px 8px 18px;
    border-radius: 14px;
    background: linear-gradient(138.01deg, #f3b33c -1.58%, #f2345d 104.27%);
    p {
      margin: 0 !important;
    }
  }

  &.bonus__button{
    width: 45px;
    height: 39px;
    background: linear-gradient(138.01deg, #F3B33C -1.58%, #F2345D 104.27%);
    border-radius: 14px;
  }
}
