.faq__section {
    margin-top: 40px;
    height: 300px;
    width: 80%;
    .section__name {
      font-size: 18px;
      color: #fff;
    }
    .section__description {
      font-size: 12px;
      margin-top: 5px;
      color: #ffffff80;
    }
    .contacts {
      margin-top: 10px;
    }
  }
  